i{
    font-style: normal;
}
b{
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
.content{
    width: 100%;
    background: #f8f8f8;
    min-height: 620px;
}
.content .page1200{
    padding-top: 10px;
}
.content .page1200 .title{
    width: 150px;
    background: #f0f0f0;
}
.content .page1200 .title ul{
    padding:0 10px;
}
.content .page1200 .title ul li{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color:#333333;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 18px;
    cursor: pointer;
}
 .content .page1200 .title ul li span{
    color:#999999;
}
.content .page1200 .title ul li.active{
    color:#dd1827;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    width: 121px;
    margin-left: -8px;
    padding-left: 26px;
    padding-top: 1px;
    margin-top: -1px;
}
.content .page1200 .title ul li.active span{
    color:#dd1827;
}
.content .page1200 .monthInf_detail{
    width: 1030px;
}
.content .page1200 .monthInf_detail .fr-title{
    height: 40px;
    padding-left:15px;
    font-size: 14px;
    line-height: 40px;
    color:#333333;
    background: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.content .page1200 .monthInf_detail .fr-title span{
    color:#666;
}
.inf_table {
    background-color: #fff;
    padding: 0 10px;
    margin-bottom: 10px;
}
.inf_table table {
    width: 100%;
    text-align: center;
    table-layout:fixed;
}
.inf_table table tr {
    height: 70px;
    color:#636363;
    border-bottom: 1px dashed #dbdbdb;
}
.inf_table table tr:last-child {
    border: none;
}
.inf_table table tr td {
    width: 140px;
    word-wrap:break-word;
}
.content .page1200 .monthInf_detail .monthly-list ul{
    background: #fff;
    padding:10px;
    margin-bottom: 10px;
}
.content .page1200 .monthInf_detail .monthly-list ul li p{
    float: left;
    width: 14%;
    text-align: center;
    font-size: 12px;
}
.content .page1200 .monthInf_detail .monthly-list ul li{
    height: 50px;
    line-height: 50px;
    color:#636363;
    border-bottom: 1px dashed #dbdbdb;
}
.content .page1200 .monthInf_detail .monthly-list ul li:last-child {
    border-bottom: none;
}
.content .page1200 .monthInf_detail .monthly-list ul li.list-title{
    height: 30px;
    background: #eeeeee;
    line-height: 30px;
    color:#353535;
    border:0;
}
.content .page1200 .monthInf_detail .monthly-list ul li.list-title p{
    box-sizing: border-box;
    border-right: 1px solid #fff;
}
.content .page1200 .monthInf_detail .monthly-list ul li.list-title p.last{
    border:0;
}
.content .page1200 .monthInf_detail .monthly-list ul li.list-last{
    border:0;
}
.content .page1200 .monthInf_detail .monthly-list .total{
    padding:10px 20px 0;
    background: #fff;
    margin-bottom: 95px;
}
.content .page1200 .monthInf_detail .monthly-list .total .total-detail p{
    height: 26px;
    line-height: 26px;
    color:#666666;
}
.content .page1200 .monthInf_detail .monthly-list .total .total-detail p.repayment{
    padding-bottom: 10px;
    border-bottom: 1px dashed #dbdbdb;
}
.content .page1200 .monthInf_detail .monthly-list .total .total-detail p span{
    display: block;
    float: right;
}
.content .page1200 .monthInf_detail .monthly-list .total .total-detail p span i{
    color:#343434;
}
.content .page1200 .monthInf_detail .monthly-list .total .total-detail p.repayment span i{
    color:#f23d46;
}
.content .page1200 .monthInf_detail .monthly-list .total .repayment-box{
    height: 65px;
    padding:0 20px;
    position: relative;
}
.content .page1200 .monthInf_detail .monthly-list .total .repayment-box span.repayment-btn{
    display: block;
    width: 78px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color:#fff;
    text-align: center;
    background: #ee3435;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    right:20px;
    top:15px;
}   
.content .page1200 .monthInf_detail .monthly-list .total .repayment-box span.repayment-btn:hover {
    background-color: #b41521;
}