i{
    font-style: normal;
}
b{
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
.content{
    width: 100%;
    background: #f8f8f8;
    min-height: 620px;
}
.content .page1200{
    padding-top: 10px;
}
.content .page1200 .title{
    width: 150px;
    background: #f0f0f0;
}
.content .page1200 .title ul{
    padding:0 10px;
}
.content .page1200 .title ul li{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    color:#333333;
    border-bottom: 1px solid #dcdcdc;
    padding-left: 18px;
    cursor: pointer;
}
 .content .page1200 .title ul li span{
    color:#999999;
}
.content .page1200 .title ul li.active{
    color:#dd1827;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    width: 121px;
    margin-left: -8px;
    padding-left: 26px;
    padding-top: 1px;
    margin-top: -1px;
}
.content .page1200 .title ul li.active span{
    color:#dd1827;
}
.content .page1200 .detail{
    width: 1030px;
}
.content .page1200 .detail .fr-title{
    height: 40px;
    padding:0 20px;
    background: #fff;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 40px;
    color:#363636;
    font-weight: bold;
}
.content .page1200 .detail .company-information{
    background: #fff;
     margin-bottom: 40px;
}
.content .page1200 .detail .company-information form .part .part1-title,
.content .page1200 .detail .company-information form .part .part2-title,
.content .page1200 .detail .company-information form .part .part3-title{
    height: 40px;
    padding:0 20px;
    background: #f1f1f1;
    font-size: 16px;
    line-height: 40px;
    color:#363636;
    font-weight: bold;
}
.content .page1200 .detail .company-information form .part .information{
    padding:20px 0;
}
.content .page1200 .detail .company-information form .part .information p{
    height: 32px;
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 10px;
    color:#646464;
}
.content .page1200 .detail .company-information form .part .information p span{
    display: inline-block;
    width: 400px;
    text-align: right;
}
.content .page1200 .detail .company-information form .part .information p input[type="text"]{
    height: 32px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 5px;
    border:1px solid #dddddd;
    width: 310px;
    color:#333;
    font-size: 14px;
}
.content .page1200 .detail .company-information form .part .information p input.short{
    width: 83px;
}
.content .page1200 .detail .company-information form .part .information p input.short-center{
    width: 120px;
}
.content .page1200 .detail .company-information form .part .information p select{
    height: 32px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 5px;
    border:1px solid #dddddd;
    width: 95px;
    color:#333;
    font-size: 14px;
    margin-right: 10px;
}
.content .page1200 .detail .company-information form .part .information p select.long{
    width: 310px;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box{
    font-size: 12px;
    line-height: 32px;
    margin-bottom: 10px;
    color:#646464;
    position: relative;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box span{
    display: inline-block;
    width: 400px;
    text-align: right;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box div.upload{
    position: absolute;
    left:405px;
    top:0;
    height: 14px;
    padding:10px 20px;
    background: #ececec;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    border:1px solid #ddd;
    border-radius: 3px;
    color:#0a2552;
    overflow: hidden;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box div.upload input{
    position: absolute;
    left:0;
    top:0;
    font-size: 100px;
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    width: 100%;
    height: 100%;
    line-height: 32px;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box span.file-name{
    display: block;
    width: 400px;
    height: 32px;
    position: absolute;
    left: 510px;
    top:0;
    text-align: left;
    overflow: hidden;
}
.content .page1200 .detail .company-information form .part3 .information p.notice{
    text-align: center;
}
.content .page1200 .detail .company-information form .part3 .information p.notice i{
    color:#333;
    font-weight: bold;
}
.content .page1200 .detail .company-information form .part3 .information p.notice2{
    text-align: center;
    background: url(../assets/notice.png) no-repeat 170px center;
}
.content .page1200 .detail .company-information form .part3 .information p.notice2 i{
    color:#38abfe;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box div.upload.long{
    padding:10px 30px;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box span.file-name.right{
    left:585px;
}
.content .page1200 .detail .company-information form .part3 .information div.upload-box.far-top{
    margin-top: 30px;
}
.submit-box{
    margin-top: 20px;
    height: 135px;
    border-top: 1px dashed #dcdcdc;
    position: relative;
}
.submit-box p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color:#999999;
    padding:20px 0;
}
.submit-box p a{
    color:#318df0;
}
.submit-box .submit{
    width: 242px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color:#fff;
    border:0;
    padding:0;
    background: #e34449;
    border-radius: 3px;
    position: absolute;
    left:50%;
    margin-left: -121px;
    top:60px;
}
.submit-box .submit:hover {
    background-color: #b41521;
}